img {
    width: 100px;
    border-radius: 10px;
}
  
.form-margin, label {
    margin-bottom: 12px;
}
  
.cart-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
  
.cart-item-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
  
.cart-item-details > div:first-of-type {
    font-weight: bold;
}

.number-input {
    width: 80px;
    text-align: center;
    margin-left: 7px;
}
  
.cart-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 64px;
}
  
.cart-panel {
    margin-left: 100px;
    margin-right: 50px;
}
  
.empty-cart-message {
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

.amount-due {
    font-size: xx-large;
    font-weight: 500;
}

p {
    font-size: small;
    margin-bottom: 12px;
}

.form-group {
    margin-bottom: 20px;
    width: 400px;
}

#ccn {
    margin-bottom: 12px;
}