<form #form="ngForm" (ngSubmit)="submitForm()">
    <div *ngIf="cartItems.length != 0" class="cart-container">
        <div>
            <div class="cart-item" *ngFor="let item of cartItems">
                <img src="{{ item.url }}">
                <div class="cart-item-details">
                    <div class="form-margin">{{ item.name }}</div>
                    <div class="form-margin">${{ item.price }}</div>
                    <div class="form-margin">
                        <label>Amount:</label>
                        <input type="number" value="{{ item.quantity }}" class="number-input" [(ngModel)]="item.quantity" 
                        (change)="quantityChange(item)">
                    </div>
                </div>
            </div>
            <p class="amount-due">Total: ${{ amountDue }}</p>
        </div>
        <div class="cart-panel">
            <div class="form-group">
                <label for="full-name">Full name</label>
                <input type="text" name="full-name" class="form-control" minlength="3" placeholder="(minimum 6 characters)">
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" name="address" class="form-control" minlength="6" placeholder="(minimum 6 characters)">
            </div>
            <div class="form-group" id="ccn">
                <label for="card-number">Credit card number</label>
                <input type="text" name="card-number" class="form-control" pattern="^\d{16}$" placeholder="(16-digit number)">
            </div>
            <p>We'll never share your payment details with anyone else</p>
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
        </div>
    </div>
</form>

