.header {
    display: grid;
    grid-template-columns: 90% 10%;
    background: #33B5E5;
    color: #fff;
}

.header-items-container {
    display: grid;
    grid-template-columns: 11% 89%;
}

.header-items {
    text-align: center;
    padding: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cart-count {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 35px;
    margin: 10px 0px;
}
  
a {
    color: #ffffff;
    text-decoration: none;
    font-size: large;
}

.rounded-pill {
    margin-bottom: 20px;
}